{#<div class="ui list segment">#}
{#    <div class="item">#}
{#        <div class="header">#}
{#            {% trans %}#}
{#                skyboundtech_sylius_wholesale_suite_plugin.ui.wholesale_rulesets.scope#}
{#            {% endtrans %}#}
{#        </div>#}
{#        <li class="ui message red" id="scope-info"></li>#}
{#    </div>#}

{#</div>#}
